<br>
<div class="bg-light">
  <h2> <i class="fa fa-bolt" aria-hidden="true"></i> Ajouter un dieu : </h2>
  <!-- s'affiche au chargement -->
  <div *ngIf="isLoading">
    <h3 class="text-center">Veuillez Patienter</h3>
  </div>

  <!-- s'affiche une fois le component chargé -->
  <div *ngIf="!isLoading">

    <!-- formulaire Angular, fonction à lancer au submit -->
    <form #dieuForm="ngForm" (ngSubmit)="submitDieux()">

      <!-- [(ngModel)] pour attribuer la valeur à un attribut de l'objet, #truc pour  -->


      <!-- nom -->
      <label for="nom">Nom du dieu : </label>
      <input type="text" class="form-control" name="nom" id="nom" required [(ngModel)]="dieu.nom" #nom="ngModel"> <br>
      <div [hidden]="nom.valid" class="alert alert-danger">
        Le nom du dieu est requis
      </div>

      <!-- titre -->
      <label for="titre">Titre du dieu : </label>
      <input type="text" class="form-control" name="titre" id="titre" required [(ngModel)]="dieu.titre" #titre="ngModel"> <br>
      <div [hidden]="titre.valid" class="alert alert-danger">
        Le titre du dieu est requis
      </div>

      <!-- panthéon -->
      <label for="pantheon">Panthéon du dieu : </label>
      <select class="form-control" name="pantheon" id="pantheon" required [(ngModel)]="dieu.pantheon" #pantheon="ngModel" >
        <option *ngFor="let pantheon of pantheons" [value]="pantheon">{{pantheon}}</option>
      </select>
      <br>
      <div [hidden]="pantheon.valid" class="alert alert-danger">
        Le panthéon du dieu est requis
      </div>

      <!-- genre -->
      <label for="genre">Genre du dieu : </label>
      <select class="form-control" name="genre" id="genre" required [(ngModel)]="dieu.genre" #genre="ngModel" >
        <option *ngFor="let genre of genres" [value]="genre">{{genre}}</option>
      </select>
      <br>
      <div [hidden]="genre.valid" class="alert alert-danger">
        Le genre du dieu est requis
      </div>

      <!-- attributs -->
      <label for="attributs">Attributs du dieu : </label>
      <input type="text" class="form-control" name="attributs" id="attributs" required [(ngModel)]="dieu.attributs"
        #attributs="ngModel"> <br>
      <div [hidden]="attributs.valid" class="alert alert-danger">
        Les attributs du dieu sont requis
      </div>

      <!-- domaine -->
      <label for="domaine">Domaine du dieu : </label>
      <input type="text" class="form-control" name="domaine" id="domaine" required [(ngModel)]="dieu.domaine"
        #domaine="ngModel"> <br>
      <div [hidden]="domaine.valid" class="alert alert-danger">
        Le domaine du dieu est requis
      </div>

      <!-- caractéristiques -->
      <label for="cara">Caractéristiques du dieu : </label>
      <input type="text" class="form-control" name="cara" id="cara" required [(ngModel)]="dieu.cara" #cara="ngModel">
      <br>
      <div [hidden]="cara.valid" class="alert alert-danger">
        Les caractéristiques du dieu sont requises
      </div>

      <!-- image -->
      <label for="image">Image du dieu : </label>
      <input type="string" class="form-control" name="image" id="image" required [(ngModel)]="dieu.image"
        #image="ngModel"> <br>
      <div [hidden]="image.valid" class="alert alert-danger">
        L'image du dieu est requis
      </div>

      <input [disabled]='!dieuForm.valid' id="submitDieux" type="submit" value="Envoyer">
    </form>
  </div>
</div>
