<!-- Référencement -->
<h1 style="display: none;">Olympe</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fa fa-bolt" aria-hidden="true"></i>
        L'Olympe
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
          <a class="nav-link" routerLink="/home">Accueil</a>
      
          <a class="nav-link" routerLink="/dieux">Dieux et déesses</a>
       
          <a class="nav-link" routerLink="/heros">Héros et héroïnes</a>

          <a class="nav-link" routerLink="/monstres">Les monstres</a>

          <a class="nav-link" routerLink="/quiz">Le quiz</a>

          <a class="nav-link" routerLink="/dieux/add">Ajouter un dieu</a>

          <a class="nav-link" routerLink="/heros/add">Ajouter un héros</a>

          <a class="nav-link" routerLink="/monstres/add">Ajouter un monstre</a> 

          <!-- Exemple de pipe -->
          <!-- <h6>Bienvenue {{'Maxime Rogues' | maPipe }}, nous sommes le {{ todayDate| date:'dd/MM/yyyy'}} </h6> -->
    </div>  
  </nav> 

