<br>
<div class="bg-light text-center">

  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="filterDiv">
    <a class="navbar-brand" href="#"><i class="fa fa-bolt" aria-hidden="true"></i>
      Filtrer
    </a>

    <!-- bouton burger pour collapser -->
    <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-expanded="false" aria-label="Toggle navigation" (click)="filtreIsCollapsed = !filtreIsCollapsed"
      [attr.aria-expanded]="!filtreIsCollapsed" aria-controls="navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- liste de filtres -->
    <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="filtreIsCollapsed">

      <a class="nav-link">Type de personnage
        <select (change)=rangDieu() (change)="getFilteredList()" class="filter" name="characterTypeFilter" id="characterTypeFilter" [(ngModel)]="characterTypeFilter">
          <option value="noData">Tous les types</option>
          <option *ngFor="let type of characterTypeList" value="{{type.name}}">{{type.name}}</option>
        </select>
      </a>

      <a *ngIf="filtreDieu" class="nav-link">Rang du dieu
        <!-- faire un (change)=fonctionTri(valeur) qui change le SELECT * FROM *** WHERE type == 'valeur' -->
        <select class="filter" name="rangDieuFilter" id="rangDieuFilter">
          <option value="noData">Tous les rangs</option>
          <option *ngFor="let rang of rangsDieu" value="{{rang}}">{{rang}}</option>
        </select>
      </a>

      <a class="nav-link">Panthéon
        
        <select (change)="getFilteredList()" class="filter" name="pantheonFilter"  id="pantheonFilter" [(ngModel)]="pantheonFilter">
          <option value="noData">Tous les panthéons</option>
          <option *ngFor="let pantheon of pantheonList" value="{{pantheon.name}}">{{pantheon.name}} </option>
        </select>
      </a>

      <a class="nav-link">Genre du personnage
        
        <select (change)="getFilteredList()" class="filter" name="genderFilter" id="genderFilter" [(ngModel)]="genderFilter" >
          <option value="noData">Tous les genres</option>
          <option *ngFor="let gender of genderList" value="{{gender.name}}">{{gender.name}}</option>
        </select>
      </a>

      <a class="nav-link btn btn-sm btn-info text-light mr-1" id="unsetFilterButton" (click)="unsetFilters()" > Retirer les filtres</a>

      <!-- <a class="nav-link btn btn-sm btn-danger text-light"  > trier de A à Z</a> -->


    </div>
  </nav>
</div>

<br>

<!-- s'affiche au chargement -->
<div *ngIf="isLoading">
  <h3 class="text-center">Veuillez Patienter</h3>
</div>

<div *ngIf="!isLoading" class="bg-light">
  <h3 class="text-center mt-3">Le dernier dieu ajouté :</h3>

  <div class="bg-light " id="lastGod">
    <div id="lastGodImageDiv" >
      <!-- image avec lien vers dieu-detail -->
    <a [routerLink]="['/dieux', this.godList[(this.godList.length - 1)].id]"> <img id="lastGodImage"
        src='http://localhost:8000/uploads/{{this.godList[(this.godList.length - 1)].picture}}' class="card-img-top img-fluid" alt=""></a>
    </div>
    
    
    <div id="lastGodInfos" >
      <br>
      <h3 class="font-weight-bold" id="lastGodName">{{this.godList[(this.godList.length - 1)].name}}</h3>
      <br>

      <p class="card-text"><span class="font-weight-bold"> Panthéon :</span> {{this.godList[(this.godList.length - 1)].pantheon.name}}
         <img *ngIf="this.godList[(this.godList.length - 1)].pantheon.name == 'Nordique'" src="../../../assets/images/nordicLogo.png" alt="Logo nordique" class="logo"> 
         <img *ngIf="this.godList[(this.godList.length - 1)].pantheon.name == 'Égyptien'" src="../../../assets/images/egyptianLogo.png" alt="Logo égyptien" class="logo"> 
         <img *ngIf="this.godList[(this.godList.length - 1)].pantheon.name == 'Grec'" src="../../../assets/images/greekLogo.jpg" alt="Logo grec" class="logo"> 
      </p>
      <!-- ses attributs -->
      <p class="card-text"><span class="font-weight-bold"> Attributs :</span> {{this.godList[(this.godList.length - 1)].attributes}} </p>
      <!-- son domaine -->
      <p class="card-text"><span class="font-weight-bold"> Domaine :</span> {{this.godList[(this.godList.length - 1)].domain}} </p>
      <!-- ses caracteristiques -->
      <p class="card-text"><span class="font-weight-bold">Description :</span> {{this.godList[(this.godList.length - 1)].history}} </p>
    </div>

  </div>

</div>

<br>

<div *ngIf="!isLoading"  class="bg-light" id="listePersos">
  <h2 class="text-center">Cliquez sur l'image d'un personnage pour plus d'infos</h2>

  <!-- rend la div responsive -->
  <div class="liste row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
    <!-- boucle pour générer les cards -->
    <div *ngFor="let god of this.filteredGodList" class="card">

      <a [routerLink]="['/dieux', god.id]"> <img src='http://localhost:8000/uploads/{{god.picture}}'
          class="card-img-top img-fluid" alt=""></a>
      <div class="card-body text-center">
        <!-- nom du perso -->
        <h6 class="font-weight-bold">{{god.name}}</h6>
        <!-- bouton pour aller au component persoDetail -->
        <br>


      </div>
    </div>

    <!-- boucle pour générer les cards -->
    <div *ngFor="let hero of this.filteredHeroList" class="card">

      <a [routerLink]="['/heros', hero.id]"> <img src='http://localhost:8000/uploads/{{hero.picture}}'
          class="card-img-top img-fluid" alt=""></a>
      <div class="card-body text-center">
        <!-- nom du perso -->
        <h6 class="font-weight-bold">{{hero.name}}</h6>
        <!-- bouton pour aller au component persoDetail -->
        <br>


      </div>
    </div>

    <!-- boucle pour générer les cards -->
    <div *ngFor="let monster of this.filteredMonsterList" class="card">

      <a [routerLink]="['/monstres', monster.id]"> <img src='http://localhost:8000/uploads/{{monster.picture}}'
          class="card-img-top img-fluid" alt=""></a>
      <div class="card-body text-center">
        <!-- nom du perso -->
        <h6 class="font-weight-bold">{{monster.name}}</h6>
        <!-- bouton pour aller au component persoDetail -->
        <br>

      </div>
    </div>
  </div>
