<!-- s'affiche au chargement -->
<div *ngIf="isLoading">
  <h3 class="text-center">Veuillez Patienter</h3>
</div>

<!-- s'affiche une fois le component chargé -->
<div *ngIf="!isLoading">
  <br>
  <div class="bg-light">
    <h2>Modifier {{heros.nom}} : </h2>

    <form #herosForm="ngForm" (ngSubmit)="updateHeros()">

      <!-- nom -->
      <label for="nom">Nom du héros : </label>
      <input type="text" class="form-control" name="nom" id="nom" required [(ngModel)]="heros.nom" #nom="ngModel"> <br>
      <div [hidden]="nom.valid" class="alert alert-danger">
        Le nom du héros est requis
      </div>

      <!-- titre -->
      <label for="titre">Titre du héros : </label>
      <input type="text" class="form-control" name="titre" id="titre" required [(ngModel)]="heros.titre"
        #titre="ngModel"> <br>
      <div [hidden]="titre.valid" class="alert alert-danger">
        Le titre du héros est requis
      </div>

      <!-- origine -->
      <label for="origine">Origine du heros : </label>
      <input type="text" class="form-control" name="origine" id="origine" required [(ngModel)]="heros.origine"
        #origine="ngModel">
      <br>
      <div [hidden]="origine.valid" class="alert alert-danger">
        Les origine du heros sont requis
      </div>

      <!-- exploits -->
      <label for="exploits">Exploits du heros : </label>
      <input type="text" class="form-control" name="exploits" id="exploits" required [(ngModel)]="heros.exploits"
        #exploits="ngModel"> <br>
      <div [hidden]="exploits.valid" class="alert alert-danger">
        Les exploits du heros est requis
      </div>

      <!-- image -->
      <label for="image">Image du heros : </label>
      <input type="text" class="form-control" name="image" id="image" required [(ngModel)]="heros.image"
        #image="ngModel"> <br>
      <div [hidden]="image.valid" class="alert alert-danger">
        L'image du heros est requis
      </div>

      <input [disabled]="!herosForm.valid" type="submit" value="Envoyer">
    </form>
  </div>
</div>
