<br>
<div class="bg-light">
    <h2>Modifier les infos du profil : </h2>

    <form #infosForm="ngForm" (ngSubmit)="updateUser()">

      <!-- username -->
      <label for="username">username de l'utilisateur : </label>
      <input type="text" class="form-control" name="username" id="username" required [(ngModel)]="user.username" #username="ngModel"> <br>
      <div [hidden]="username.valid" class="alert alert-danger">
        Le username de l'utilisateur est requis
      </div>

      <!-- password -->
      <label for="password">password de l'utilisateur : </label>
      <input type="text" class="form-control" name="password" id="password" required [(ngModel)]="user.password"
        #password="ngModel"> <br>
      <div [hidden]="password.valid" class="alert alert-danger">
        Le mot de passe de l'utilisateur est requis
      </div>

      <!-- phoneNumber -->
      <!-- <label for="phoneNumber">phoneNumber de l'utilisateur : </label>
      <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" required [(ngModel)]="user.phoneNumber"
        #phoneNumber="ngModel"> <br>
      <br>
      <div [hidden]="phoneNumber.valid" class="alert alert-danger">
        Le numéro de téléphone de l'utilisateur est requis
      </div> -->

      <!-- adresseMail -->
      <!-- <label for="adresseMail">adresseMail de l'utilisateur : </label>
      <input type="text" class="form-control" name="adresseMail" id="adresseMail" required [(ngModel)]="user.adresseMail"
        #adresseMail="ngModel"> <br>
      <br>
      <div [hidden]="adresseMail.valid" class="alert alert-danger">
        L'adresse mail de l'utilisateur est requis
      </div> -->

      <input [disabled]='!infosForm.valid' type="submit" value="Envoyer">
    </form>
  </div>