<br>
<div class="bg-light">
  <h2>Ajouter un monstre : </h2>

  <!-- formulaire Angular, fonction à lancer au submit -->
  <form #monstreForm="ngForm" (ngSubmit)="submitMonstre()">

    <!-- nom -->
    <label for="nom">Nom du monstre : </label>
    <input type="text" class="form-control" name="nom" id="nom" required [(ngModel)]="monstre.nom" #nom="ngModel"> <br>
    <div [hidden]="nom.valid" class="alert alert-danger">
      Le nom du monstre est requis
    </div>

    <!-- titre -->
    <label for="titre">Titre du monstre : </label>
    <input type="text" class="form-control" name="titre" id="titre" required [(ngModel)]="monstre.titre"
      #titre="ngModel"> <br>
    <div [hidden]="titre.valid" class="alert alert-danger">
      Le titre du monstre est requis
    </div>

    <!-- panthéon -->
    <label for="pantheon">Panthéon du monstre : </label>
    <select class="form-control" name="pantheon" id="pantheon" required [(ngModel)]="monstre.pantheon" #pantheon="ngModel" >
      <option *ngFor="let pantheon of pantheons" [value]="pantheon">{{pantheon}}</option>
    </select>
    <br>
    <div [hidden]="pantheon.valid" class="alert alert-danger">
      Le panthéon du monstre est requis
    </div>

    <!-- genre -->
    <label for="genre">Genre du monstre : </label>
    <select class="form-control" name="genre" id="genre" required [(ngModel)]="monstre.genre" #genre="ngModel" >
      <option *ngFor="let genre of genres" [value]="genre">{{genre}}</option>
    </select>
    <br>
    <div [hidden]="genre.valid" class="alert alert-danger">
      Le genre du monstre est requis
    </div>

    <!-- lieu -->
    <label for="lieu">Lieu du monstre : </label>
    <input type="text" class="form-control" name="lieu" id="lieu" required [(ngModel)]="monstre.lieu" #lieu="ngModel">
    <br>
    <div [hidden]="lieu.valid" class="alert alert-danger">
      Le lieu du monstre sont requis
    </div>

    <!-- histoire -->
    <label for="histoire">Histoire du monstre : </label>
    <input type="text" class="form-control" name="histoire" id="histoire" required [(ngModel)]="monstre.histoire"
      #histoire="ngModel"> <br>
    <div [hidden]="histoire.valid" class="alert alert-danger">
      Le histoire du monstre est requis
    </div>

    <!-- image -->
    <label for="image">Image du monstre : </label>
    <input type="text" class="form-control" name="image" id="image" required [(ngModel)]="monstre.image"
      #image="ngModel"> <br>
    <div [hidden]="image.valid" class="alert alert-danger">
      L'image du monstre est requis
    </div>

    <input [disabled]="!monstreForm.valid" type="submit" value="Envoyer">
  </form>
</div>
