<br>

<div class="card-body bg-light">
  <!-- nom du monstre -->
  <img src="../../../assets/images/monstres/{{ monstre.image }}" alt="Illustration du monstre">
  <br>
  <br>
  <h4 class="font-weight-bold">{{monstre.nom}}</h4>
  <!-- ses attributs -->
  <p class="card-text"><span class="font-weight-bold"> Lieu :</span> {{monstre.lieu}} </p>
  <!-- son domaine -->
  <p class="card-text"><span class="font-weight-bold"> Histoire :</span> {{monstre.histoire}} </p>
  <br>
  <!-- Bouton modifier -->
  <a class="btn btn-info btn-sm  w-50 " [routerLink]="['/edit-monstres', monstre.id]">Modifier</a>

  <!-- Bouton supprimer -->
  <a class="btn btn-danger btn-sm  text-white w-50" (click)="deleteMonstre(monstre.id)">Supprimer </a>

</div>
