<br>
<div class="bg-light">
  <h2>Ajouter un monstre : </h2>

  <!-- formulaire Angular, fonction à lancer au submit -->
  <form #monsterForm="ngForm" (ngSubmit)="submitMonstre()">

    <!-- name -->
    <label for="name">name du monstre : </label>
    <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="monstre.name" #name="ngModel"> <br>
    <div [hidden]="name.valid" class="alert alert-danger">
      Le name du monstre est requis
    </div>

    <!-- title -->
    <label for="title">title du monstre : </label>
    <input type="text" class="form-control" name="title" id="title" required [(ngModel)]="monstre.title"
      #title="ngModel"> <br>
    <div [hidden]="title.valid" class="alert alert-danger">
      Le title du monstre est requis
    </div>

    <!-- panthéon -->
    <label for="pantheon">Panthéon du monstre : </label>
    <select class="form-control" name="pantheon" id="pantheon" required [(ngModel)]="monstre.pantheon" #pantheon="ngModel" >
      <option *ngFor="let pantheon of pantheons" [value]="pantheon.id">{{pantheon.name}}</option>
    </select>
    <br>
    <div [hidden]="pantheon.valid" class="alert alert-danger">
      Le panthéon du monstre est requis
    </div>

    <!-- gender -->
    <label for="gender">gender du monstre : </label>
    <select class="form-control" name="gender" id="gender" required [(ngModel)]="monstre.gender" #gender="ngModel" >
      <option *ngFor="let gender of genders" [value]="gender.id">{{gender.name}}</option>
    </select>
    <br>
    <div [hidden]="gender.valid" class="alert alert-danger">
      Le gender du monstre est requis
    </div>

    <!-- place -->
    <label for="place">place du monstre : </label>
    <input type="text" class="form-control" name="place" id="place" required [(ngModel)]="monstre.place" #place="ngModel">
    <br>
    <div [hidden]="place.valid" class="alert alert-danger">
      Le place du monstre sont requis
    </div>

    <!-- history -->
    <label for="history">history du monstre : </label>
    <input type="text" class="form-control" name="history" id="history" required [(ngModel)]="monstre.history"
      #history="ngModel"> <br>
    <div [hidden]="history.valid" class="alert alert-danger">
      Le history du monstre est requis
    </div>

    <!-- picture -->
    <label for="picture">picture du monstre : </label>
    <input type="text" class="form-control" name="picture" id="picture" required [(ngModel)]="monstre.picture"
      #picture="ngModel"> <br>
    <div [hidden]="picture.valid" class="alert alert-danger">
      L'picture du monstre est requis
    </div>

    <input [disabled]="!monsterForm.valid" type="submit" value="Envoyer">
  </form>
</div>
