<!-- s'affiche au chargement -->
<div *ngIf="isLoading">
  <h3 class="text-center">Veuillez Patienter</h3>
</div>

<!-- s'affiche une fois le component chargé -->
<div *ngIf="!isLoading">
  <br>
  <div class="bg-light">
    <h2>Modifier {{monstre.nom}} : </h2>

    <form #monstreForm="ngForm" (ngSubmit)="updateMonstre()">


      <!-- nom -->
      <label for="nom">Nom du monstre : </label>
      <input type="text" class="form-control" name="nom" id="nom" required [(ngModel)]="monstre.nom" #nom="ngModel">
      <br>
      <div [hidden]="nom.valid" class="alert alert-danger">
        Le nom du monstre est requis
      </div>

      <!-- titre -->
      <label for="titre">Titre du monstre : </label>
      <input type="text" class="form-control" name="titre" id="titre" required [(ngModel)]="monstre.titre"
        #titre="ngModel"> <br>
      <div [hidden]="titre.valid" class="alert alert-danger">
        Le titre du monstre est requis
      </div>

      <!-- origine -->
      <label for="origine">Lieu du monstre : </label>
      <input type="text" class="form-control" name="origine" id="origine" required [(ngModel)]="monstre.lieu"
        #origine="ngModel">
      <br>
      <div [hidden]="origine.valid" class="alert alert-danger">
        Les origine du monstre sont requis
      </div>

      <!-- exploits -->
      <label for="exploits">Histoire du monstre : </label>
      <input type="text" class="form-control" name="exploits" id="exploits" required [(ngModel)]="monstre.histoire"
        #exploits="ngModel"> <br>
      <div [hidden]="exploits.valid" class="alert alert-danger">
        Le exploits du monstre est requis
      </div>

      <!-- image -->
      <label for="image">Image du monstre : </label>
      <input type="text" class="form-control" name="image" id="image" required [(ngModel)]="monstre.image"
        #image="ngModel"> <br>
      <div [hidden]="image.valid" class="alert alert-danger">
        L'image du monstre est requis
      </div>

      <input [disabled]="!monstreForm.valid" type="submit" value="Envoyer">
    </form>
  </div>
</div>
