<br>

<div class="card-body bg-light" id="divPerso">

  <div id="divImgPerso">
    <!-- image du dieu -->
    <img src="../../../assets/images/dieux/{{god.picture}}" alt="Illustration du dieu">
    <br>
  </div>

  <div id="infosPerso">

    <br>
    <!-- nom du dieu -->
    <h2 class="font-weight-bold">{{god.name}}</h2>
    <!-- titre du dieu -->
    <h5 class="font-weight-bold">{{god.title}}</h5>
    <br>
    <!-- son panthéon -->
    <p class="card-text"><span class="font-weight-bold"> Panthéon :</span> {{god.pantheon.name}} </p>
    <!-- ses attributs -->
    <p class="card-text"><span class="font-weight-bold"> Attributs :</span> {{god.attributes}} </p>
    <!-- son domaine -->
    <p class="card-text"><span class="font-weight-bold"> Domaine :</span> {{god.domain}} </p>
    <!-- ses caracteristiques -->
    <p class="card-text"><span class="font-weight-bold">Description :</span> {{god.history}} </p>
    <br>
  </div>
</div>

<div class="bg-light">
  <!-- bouton modifer ce dieu -->
  <a class="btn btn-info btn-sm w-50" [routerLink]="['/edit-dieu', god.id]">Modifier</a>

  <!-- Bouton supprimer ce dieu -->
  <a class="btn btn-danger btn-sm text-white w-50" (click)="deleteDieu(god.id)">Supprimer</a>
</div>
