#godDiv {
    display: flex;
    flex-flow: row;
}

#godImageDiv {
    width: 30rem;
    height: 100%;
    margin-right: 2rem;
}

#godInfos {
    width: 50%;
}

img {
    width: 100%;
    height: 45rem;
}

.logo {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 0.5rem;
} 

@media screen and (max-width: 1100px) {
    #godDiv {
        display: flex;
        flex-flow: row;
    }
    
    #godImageDiv {
        width: 30rem;
        height: 100%;
        margin-right: 1rem;
    }
    
    #godInfos {
        width: 50%;
    }
    
    img {
        width: 100%;
        height: 45rem;
    }
}


@media screen and (max-width: 750px) {
    img {
        width: 100%;
        height: 30rem;
    }
}


@media screen and (max-width: 500px) {
    #godDiv {
        display: block;
    }
    
    #godImageDiv {
        width: 100%;
        height: 22rem;
    }
    
    #godInfos {
        width: 100%;
    }

    img {
        width: 100%;
        height: 22rem;
    }

    #godName, #godTitle {
        text-align: center;
    }
}

