<br>
<div class="bg-light text-center">
  <br>
  <img src="../../../assets/images/cheh.gif" alt="">
  <img src="../../../assets/images/cheh2.gif" alt="">
  <img src="../../../assets/images/cheh3.gif" alt="">
  <h3>T'avais qu'à pas chercher une mauvaise URL pour faire planter !</h3>

  <img src="../../../assets/images/cheh5.gif" alt="">
  <img src="../../../assets/images/cheh6.gif" alt="">
  <img src="../../../assets/images/cheh9.gif" alt="">
</div>

<audio src="../../../assets/giorno.mp3" autoplay="autoplay" loop="loop"></audio>
