<br>

<div class="card-body bg-light" id="divPerso">

  <div id="divImgPerso">
    <!-- image du dieu -->
    <img src="../../../assets/images/dieux/{{dieu.image}}" alt="Illustration du dieu">
    <br>
  </div>

  <div id="infosPerso">

    <br>
    <!-- nom du dieu -->
    <h4 class="font-weight-bold">{{dieu.nom}}</h4>
    <br>
    <!-- son panthéon -->
    <p class="card-text"><span class="font-weight-bold"> Panthéon :</span> {{dieu.pantheon}} </p>
    <!-- ses attributs -->
    <p class="card-text"><span class="font-weight-bold"> Attributs :</span> {{dieu.attributs}} </p>
    <!-- son domaine -->
    <p class="card-text"><span class="font-weight-bold"> Domaine :</span> {{dieu.domaine}} </p>
    <!-- ses caracteristiques -->
    <p class="card-text"><span class="font-weight-bold">Description :</span> {{dieu.cara}} </p>
    <br>
  </div>
</div>

<div class="bg-light">
  <!-- bouton modifer ce dieu -->
  <a class="btn btn-info btn-sm w-50" [routerLink]="['/edit-dieu', dieu.id]">Modifier</a>

  <!-- Bouton supprimer ce dieu -->
  <a class="btn btn-danger btn-sm text-white w-50" (click)="deleteDieu(dieu.id)">Supprimer</a>
</div>
