
 <div class="card-body bg-light">
    <!-- nom du dieu -->
    <img src="../../../assets/images/{{ dieu.image }}" alt="Illustration du dieu">
    <br>
    <br>
    <h4 class="font-weight-bold">{{dieu.nom}}</h4>
    <!-- ses attributs -->
    <p class="card-text"><span class="font-weight-bold"> Attributs :</span> {{dieu.attributs}}  </p>
    <!-- son domaine -->
    <p class="card-text"><span class="font-weight-bold"> Domaine :</span> {{dieu.domaine}}  </p>
    <!-- ses caracteristiques -->
    <p class="card-text"><span class="font-weight-bold">Description :</span>  {{dieu.cara}}  </p>
</div>