
<br>
<div class="bg-light">

    <h2>Votre profil :</h2>
    <br>
    <h3>Vos informations personnelles :</h3>
    <h4>Pseudo : </h4>
    <p>{{ user.username }}</p>
    <br>
    <h4>Mot de passe : </h4>
    <p>A CHIFFRER : {{ user.password }}</p>
    <br>
    <h4>Adresse mail : </h4>
    <!-- <p>{{ user.adresseMail }}</p> -->
    <br>
    <h4>N° téléphone : </h4>
    <!-- <p>{{ user.phoneNumber }}</p> -->
    <br>
    <button class="btn btn-info " [routerLink]="['/edit-espace-membre', user.id]">Modifier mes informations</button>

    <hr>

    <h3>Vos favoris :</h3>
    <p>Afficher ici les cards des favoris, cliquer dessus pour aller vers ses détails</p>

    <h4>Les dieux : </h4>
    <br>

    <h4>Les héros : </h4>
    <br>

    <h4>Les monstres : </h4>
    <br>
    <button class="btn btn-info">Modifier mes favoris</button>


    <hr>
</div>
