<br>
<h2 class="text-light">Les dieux et déesses</h2>

<!-- s'affiche au chargement -->
<div *ngIf="isLoading">
  <h3 class="text-center">Veuillez Patienter</h3>
</div>

<!-- s'affiche une fois le component chargé -->
<div *ngIf="!isLoading">
  
  <a *ngIf="logged" routerLink="/dieux/add">
    <h3 class="btn btn-secondary" id="addDieuxLink">Ajouter un dieu</h3>
  </a>

  <!-- rend la div responsive -->
  <div class="liste row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
    <!-- boucle pour générer les cards -->
    <div *ngFor="let god of this.godList" class="card">

      <a [routerLink]="['/dieux', god.id]"> <img src='http://localhost:8000/uploads/{{god.picture}}'
          class="card-img-top img-fluid" alt=""></a>
      <div class="card-body text-center">
        <!-- nom du dieu -->
        <h3 class="font-weight-bold">{{god.name}}</h3>
        <h5>{{god.title}}</h5>
        <!-- bouton pour aller au component dieuDetail -->
        <a class="btn btn-secondary btn-sm w-100" [routerLink]="['/dieux', god.id]"> Détails </a>

      </div>
    </div>
  </div>
 
</div>
