div {
    padding: 0.5rem;
}

#connectButtonsDiv {
    justify-content: end;
    width: 50%;

}

@media screen and (max-width: 990px) {
    #connectButtonsDiv {
        justify-content: end;
        width: 100%;
    }
}

.nav-link {
    white-space: nowrap;
}