<br>

<div *ngIf="!isLoading" class="card-body bg-light" id="heroDiv">

  <div id="heroImageDiv">

    <!-- image du hero -->
    <img src="http://localhost:8000/uploads/{{ hero.picture }}" alt="Illustration du hero">
    <br>

  </div>

  <div id="heroInfos">

    <br>
    <h2 class="font-weight-bold" id="heroName">{{hero.name}}</h2>
    <!-- titre du héros -->
    <h5 class="font-weight-bold" id="heroTitle">{{hero.title}}</h5>
    <br>
    <!-- son panthéon -->
    <p class="card-text"><span class="font-weight-bold"> Panthéon :</span> {{hero.pantheon.name}} 
      <img *ngIf="hero.pantheon.name == 'Nordique'" src="../../../assets/images/nordicLogo.png" alt="Logo nordique" class="logo"> 
      <img *ngIf="hero.pantheon.name == 'Égyptien'" src="../../../assets/images/egyptianLogo.png" alt="Logo égyptien" class="logo"> 
      <img *ngIf="hero.pantheon.name == 'Grec'" src="../../../assets/images/greekLogo.jpg" alt="Logo grec" class="logo"> 
    </p>
    <!-- son origine -->
    <p class="card-text"><span class="font-weight-bold"> Origine :</span> {{hero.origin}} </p>
    <!-- ses exploits -->
    <p class="card-text"><span class="font-weight-bold"> Exploits :</span> {{hero.exploits}} </p>
    <br>
  </div>

  <!-- bouton modifier -->
  <a class="btn btn-sm " *ngIf="logged" [routerLink]="['/edit-heros', hero.id]">Modifier </a>

  <!-- bouton supprimer -->
  <a class="btn btn-sm" *ngIf="logged" (click)="deleteHero(hero.id)">Supprimer</a>

</div>
