<br>

<div class="card-body bg-light" id="divPerso">

  <div id="divImgPerso">

    <!-- image du hero -->
    <img src="../../../assets/images/heros/{{ hero.picture }}" alt="Illustration du hero">
    <br>

  </div>

  <div id="infosPerso">

    <br>
    <h2 class="font-weight-bold">{{hero.name}}</h2>
    <!-- titre du héros -->
    <h5 class="font-weight-bold">{{hero.title}}</h5>
    <br>
    <!-- son panthéon -->
    <p class="card-text"><span class="font-weight-bold"> Panthéon :</span> {{hero.pantheon.name}} </p>
    <!-- son origine -->
    <p class="card-text"><span class="font-weight-bold"> Origine :</span> {{hero.origin}} </p>
    <!-- ses exploits -->
    <p class="card-text"><span class="font-weight-bold"> Exploits :</span> {{hero.exploits}} </p>
    <br>
  </div>
</div>
<div class="bg-light">

  <!-- bouton modifier -->
  <a class="btn btn-info btn-sm w-50 " [routerLink]="['/edit-heros', hero.id]">Modifier </a>

  <!-- bouton supprimer -->
  <a class="btn btn-danger btn-sm  text-white w-50 " (click)="deleteHero(hero.id)">Supprimer</a>

</div>
